.Datacard{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Datacard-subject{
    background: rgb(140, 142, 144); /* 230, 217, 252 */
    width: auto;
    min-height: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Datacard-message{
    Background: rgb(221, 221, 221); /* 98, 38, 161 */
    width: auto;
    color: rgb(25, 24, 24);
    font-size: 18px;
    padding: 10px 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 20px;
    max-height: 50px;
    font-weight: 500;
    overflow: auto;
    scrollbar-width: thin;
}

