.new-offense-acceptance{
    margin-top: 10%;
}

.new-offense-response-pending{
    margin-top: 5%;
}

.new-fine{
    margin-top: 10%;
}

.new-fine-settle{
    margin-top: 5%;
}

.navposition-new{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}



