.new-offense-acceptance{
    margin-top: 10px;
}

.new-offense-response-pending{
    margin-top: 10px;
}

.new-fine{
    margin-top: 10px;
}

.new-fine-settle{
    margin-top: 10px;
}

.navposition-new{
    margin-top: 36px;
}



