.page-content{
    margin-top: 75px;
    min-height: 950px;
    max-height: 1000px;
    overflow: auto;
    background: rgb(255, 255, 255);
}

.new-offense-acceptance{
    margin-top: 10%;
}

.new-offense-response-pending{
    margin-top: 5%;
}

.new-fine{
    margin-top: 10%;
}

.new-fine-settle{
    margin-top: 5%;
}