.page-content-history{
    margin-top: 50px;
    min-height: 950px;
    max-height: 1000px;
    overflow: auto;
    background: linear-gradient(to bottom, rgb(240, 240, 240), transparent);
}

.indicator{
    margin-top: 10%;
}