.offense-status{
    margin-top: 10px;
}

.user-recommendation{
    margin-top: 10px;
}

.offense-summary-container{
    margin-top: 10px;
}

.offense-acceptance{
    margin-top: 20px;
}

.fine-due{
    margin-top: 20px;
}

.navposition-home{
    margin-top: 36px;
    /* bottom: 0;
    position: fixed; */
}