.user-greet{
    background: rgb(12, 6, 88);
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.offense-status{
    margin-top: 10px;
}

.user-recommendation{
    margin-top: 10px;
}

.offense-summary-container{
    margin-top: 10px;
}

.offense-acceptance{
    margin-top: 10px;
}
