.page-content{
    margin-top: 75px;
    min-height: 950px;
    max-height: 1000px;
    overflow: auto;
    background: rgb(255, 255, 255);
}

.offense-status{
    margin-top: 10%;
}

.user-recommendation{
    margin-top: 10%;
}

.offense-summary-container{
    margin-top: 10%;
}

.offense-acceptance{
    margin-top: 10%;
}

.fine-due{
    margin-top: 10%;
}
